<div class="footer-block">
    <div class="container">
        <div class="f-nav-item-block">
            <div class="f-social-net-block">
                <a href="" class="f-social-net-text"><span>Instagram</span></a>
                <a href="" class="f-social-net-text"><span>Facebook</span></a>
                <a href="" class="f-social-net-text"><span>Twitter</span></a>
                <a href="" class="f-social-net-text"><span>Tiktok</span></a>
                <a href="" class="f-social-net-text"><span>YouTube</span></a>
            </div>
            <div class="f-nav-panel">
                <a class="f-social-net-text"><span>Условия использования</span></a>
                <a class="f-social-net-text"><span>Доставка и возврат</span></a>
                <a class="f-social-net-text"><span>Защита данных</span></a>
            </div>
        </div>
        <div class="f-nav-item-block-2">
            <div class="f-info-block">
                <span class="f-social-net-text f-s">© 2023 by Sher </span>
            </div>
            <div class="f-nav-panel-2">
                <a href="" class="f-social-net-text mar-r-15"><img src="assets/Visa.png" alt=""></a>
                <a href="" class="f-social-net-text mar-r-15"><img src="assets/brand-mastercard_3x.png" alt=""></a>
                <a href="" class="f-social-net-text mar-r-15"><img src="assets/brand-chinaunionpay_3x.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>