* {
    box-sizing: border-box;
    transition: all .3s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(34,35,35);
}
html{
    height: 100%;
    font-family:  arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
button{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}
input:focus{
    outline: none;
}
body::-webkit-scrollbar {
    width: 10px;
    background: rgb(34,35,35);
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(34,35,35),#A328FF);
    border-radius: 4px;
}
.container{
    padding: 0 calc((100% - 1712px) / 2);
}
/*header*/
.swiper,
.swiper_1,
.swiper_2,
.swiper_3,
.swiper_4{
    width: 100%;
   overflow-x: hidden;
    user-select: none;
}
.s-dot-block{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.btn-prev{
    position: absolute;
    left: 35%;
}
.btn-next{
    position: absolute;
    right: 35%;
}
.s-dot{
    height: 10px;
    width:  10px;
    border: 2px solid #e6e6fa;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}
.slider-dots-active{
    background: #84619C ;
    width: 10px;
    height: 10px;
    border: none;
}
.nav_0icon0{
    width: 10px;
    height: 16px;
    fill: lavender;
    cursor: pointer;
}
.nav_0icon0:hover{
    fill: #35358d;
    transition: all .1s;
}
.nav_swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    position: relative;
}
.logo_svg{
    width: 150px;
    height: 150px;
}
.h-logo-block{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.header-container{
    display: flex;
    align-items: center;
    padding: 10px 0 ;
    height: 102px;
    justify-content: space-between;
}
.l-text-item{
    font-size: 25px;
    line-height: 1.5em;
}
.l-text{
    margin-left: 12px;
}
.backed-icon{
    fill: #ffffff;
    width: 30px;
    height: 30px;
}
.backed-block-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bGBBgJ{
    color: #000000;
}
.h-nav-block{
    padding-top: 15px;
}
.header-block{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 calc((100% - 1712px) / 2);
    background: rgb(34,35,35);
    z-index: 99;
    box-shadow: 0.00px 0.00px 15px 7px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,.5);
}
.offFixed{
    position: static;
}
/*header*/
/*section-block-main*/
.section-block-main{
    display: flex;
    flex-direction: column;
}
/*section-block-main*/

.__background_1{
    background: url("assets/background.jpg");
    background-size: cover;
}

/*background*/

.p-img-item-w{
    width: 600px;
    height: 600px;
    object-fit: contain;
}
.__background_2{
    background: url("assets/c837a6_98a516fd3a66427ab4cd0cf2b2a13ca2_mv2.webp") center/ cover no-repeat fixed;
}
.__background_opacity:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.background-block{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.background-img{
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/*background*/

/*product-page-style*/
.product-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1080px;
    width: 100%;
}
.p-text-content{
    display: flex;
    width: 60%;
    flex-direction: column;
}
.p-img-content-item{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.p-text{
    font-size: 25px;
    line-height: 1.5em;
}
.p-des-text{
    font-size: 75px;
    line-height: 1.49em;
}
.p-img-item{
    transform: rotate(350deg);
    width: 548px;
    height: 540px;
    object-fit: cover;
}
.p-img-content{
    display: inline-block;
    overflow: hidden;
    width: 1000px;
    height: 900px;
}
.i-phone-img{
    height: 560px;
    object-fit: contain;
}
.p-btn{
    background: #A328FF;
    box-shadow:  0.00px 1.00px 20px 0px rgba(125,43,196,1),0 1px 4px rgba(0,0,0,.6);
    font-size: 16px;
    color: #ffffff;
    width: 220px;
    height: 46px;text-align: center;
    border-radius: 32px;
    margin-top: 28px;
    cursor: pointer;
    display: inline-block;
}
.p-btn:hover{
    background: #ffffff;
    color:rgba(0,0,0,.6) ;
}
/*product-page-style*/

/*presentation-page*/
.presentation-area{
    display: flex;
    height: 925px;
}
.presentation-text-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1900px;
}
.p-r-title-block{
    display: flex;
    align-items: center;
    margin-top: 100px;
    z-index: 1;
    position: relative;
    margin-left: 250px;
}
.p-r-title-text{
    font-size: 14px;
    letter-spacing: 0.3em;
    margin-left: 12px;
}
.p-r-content-body-text{
    margin-top: 60px;
    margin-left: 250px;
    width: 50%;
    z-index: 1;
    position: relative;
    margin-bottom: 200px;
}
.p-r-des-text{
    font-size: 50px;
    line-height: 1.2em;
}
.p-r-des-text-2{
    font-size: 16px;
    line-height: 1.6em;
    width: 75%;
}
.price-num-text{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.parameter-main-block{
    list-style: none;
    padding: 0;
    margin-top: 30px ;
    width: 78%;
}
.parameter-item{
    display: flex;
    margin-top: 10px;
}
.mar-b-36{
    margin-bottom: 20px;
}
.presentation-img-content{
    background: rgb(80,41,132);
    background: url("/assets/background__img.png") top / cover no-repeat  fixed;
    margin-left: 40px;
    width: 30%;
    position: relative;
}
.present-img-item{
    margin-top: 128px;
    margin-left: -240px;
    position: relative;
    z-index: 1;
}
.background-3{
    background: rgb(110,110,110);
}

/* nav-panel*/
.basked_item_block{
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    transform: translateX(100%);
}
.active-nav{
    transform: translateX(0);
    opacity: 1;
    display: block;
}
.basked_title_block{
    display: flex;
    align-items: center;
    position: relative;
    padding: 35px;
    background: #ffffff;
    height: 100px;
    width: 350px;
}
.icon{
    margin-right: 80px;
    background: transparent;
    cursor: pointer;
}
.icon-item{
    width: 18px;
    height: 18px;
}
.basked-title-text{
    font-size: 22px;
    color: #000000;
}
.basked_body_block{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: black;
    padding: 34px;
    width: 350px;
}
.basked-card{
    width: 100%;
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    flex-direction: column;
}
.product-text{
    font-size: 16px;
    color: #222222;
    margin-top: 15px;
}
.basked-body-text{
    font-size: 18px;
    text-align: center;
    cursor: default;
    display: none;
}
.product-img{
    border-radius: 8px;
}
.product-img-item{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.mar-l{
    margin-left: 50px;
}
.product-number{
    display: flex;
    text-align: right;
    margin-top: 20px;
    justify-content: center;
}

.product-num-text{
    font-size: 20px;
    color: #222222;
    margin: 0 15px;
}
.counter-input{
    display: inline-block;
    width: 25%;
}
.counter__val{
    width: 65% ;
    display: inline-block;
    border: none;
    appearance: none;
    background: transparent;
    text-align: center;
    user-select: none;
}
.num-product{
    cursor: pointer;
    user-select: none;
    background: transparent;
}
.product-order{
    width: 100%;
}
.basked-content-block{
    display: flex;
}
.fw{
    color: #ffffff;
    margin-right: 30px;
}
.delete-product-icon{
    display: flex;
    align-items: center;
    padding-left: 50px;
    justify-content: right;
    cursor: pointer;
}
.delete-icon-item{
    width: 15px;
    height: 15px;
    fill: #d33333;
}
.basked-nav-panel{
    display: flex;
}
.add_basked{
    background: #A328FF;
    box-shadow:  0.00px 1.00px 20px 0px rgba(125,43,196,1),0 1px 4px rgba(0,0,0,.6);
    font-size: 16px;
    color: #ffffff;
    width: 220px;
    height: 46px;
    text-align: center;
    border-radius: 32px;
    margin-top: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_basked svg{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.add_basked:hover {
    background: #ffffff;
    color: rgba(0, 0, 0, .6);
}
.add_basked:hover svg{
    fill: rgba(0, 0, 0, .6);
    transition:  all .2s;
}
.select_area{
    margin-top: 140px;
    padding: 25px 0;
    display: flex;
    margin-bottom: 70px;
    justify-content:center;
}
.s_img_i_product{
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.img_slider_item{
    width: 42px;
    height: 42px;
    object-fit: contain;
}
.img-mini-slider__image{
    border: 2px solid #6E6E6E;
    display: inline-block;
}
.img-mini-slider__image{
    margin: 20px 0;
}
.select_content_section{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.select_img_section{
    width: 30%;
    overflow: hidden;
}
.color_p{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.color-b{
    display: flex;
    margin-top: 10px;
}
.color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    margin-right:15px;
    cursor: pointer;
}
.color:hover{
    border: 1px solid #6E6E6E;
}
.select_num{
    display: inline-flex;
    text-align: right;
    justify-content: start;
    margin-top: 8px;
    position: relative;
}
.select_counter{
    background: #ffffff;
}
.btn_set{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    position: absolute;
    right: 5px;
    bottom: 0;
    opacity: 0;
}
.back_wh_select{
    background: #ffffff;
    border: none;
    height: 40px;
    padding: 1px 28px 1px 14px;
    width: 70px;
    font-size: 14px;
    color: #575757;
    user-select: none;
}
.select_num:hover .btn_set{
    opacity: 1;
}
.mar_def{
    margin: 0;
}
.select_product_counter{
    margin-top: 20px;
}
.mar-t-15{
    margin-top: 15px;
}
.angle-arrow{
    width: 10px;
    height: 10px;
    fill: #222222;
    user-select: none;
}
.select_product_des{
   list-style: none;
    padding: 0;
    margin-top: 24px;
}
.select_des_btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: transparent;
}
.select_product_text_des{
    max-height: 0;
    overflow:hidden;
}
.select_product_li{
    padding: 24px 0;
    width: 100%;
}
.select_product_li_border{
    border-bottom: 1px solid #ffffff;
}
.select_product_title{
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
}
.select_product_text{
    font-size: 16px;
    color: #ffffff;
    padding-top: 18px;
}
.select_product_title_plus{
    font-size: 25px;
    color: #ffffff;
}
.active_block{
    max-height: 100%;
}
.w-100{
    width: 100%;
}
.select_product_description{
    margin-top: 10px;
}
.image-mini-slider{
    width: 40%;
}
.mini_slider{
    display: flex;
    justify-content: center;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.53);
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.modal-box{
    width: 400px;
    height: 400px;
    background: linear-gradient(144deg, rgba(146,82,172,1) 14%, rgba(75,11,139,1) 67%, rgba(110,67,130,1) 86%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.modal_input{
    width: 100%;
    padding: 20px 30px;
    color: #222222;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 20px;
}
.modal_input:placeholder{
    color: #222222;
}
.modal_text_title{
    font-size: 18px;
    color: #ffffff;
}
.form_order{
    margin-bottom: 20px;
}
.modal_btn{
    background: #A328FF;
    box-shadow:  0.00px 1.00px 20px 0px rgba(125,43,196,1),0 1px 4px rgba(0,0,0,.6);
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    height: 46px;
    text-align: center;
    border-radius: 32px;
    margin-top: 28px;
    cursor: pointer;
    display: inline-block;
}
.modal_btn:hover{
    background: #ffffff;
    color: #222222;
}
.active_modal_box{
    display: grid;
    z-index: 99;
}

    /*footer*/
.footer-block{
    background: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 405px;
    padding: 0 190px;
}
.f-nav-item-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0 48px 0;
    border-bottom: 1px solid #ffffff;
}
.f-social-net-block{
    display: flex;
}
.f-social-net-text{
    font-size: 14px;
    color: #ffffff;
    line-height: normal;
    margin-right: 16px;
}
.f-info-block{
    display: flex;
}

.h-nav-block-modal-win{
    display: none;
}
.f-nav-item-block-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
/*footer*/
@media (max-width: 2560px) {
    .presentation-img-content{
        width: 43%;
    }
}
@media (max-width: 1024px) {
    .container{
        padding: 0 calc((100% - 900px) / 2);
    }
}
@media (max-width: 770px) {
    .container{
        padding: 0 15px;
    }
    .nav_0icon0{
        display: none;
    }
    .basked_title_block,
    .basked_body_block{
        width: 290px;
    }
    .icon{
        margin-right: 25px;
    }
    .basked-title-text{
        font-size: 18px;
    }
    .basked-body-text{
        font-size: 14px;
    }
    .product-area{
        flex-direction: column;
        justify-content: center;
        height: 800px;
    }
    .p-text-content{
        padding: 0 0;
        width: 100%;
        text-align: center;
        margin:  32px 0;
    }
    .p-text{
        font-size: 19px;
    }
    .p-des-text{
        font-size: 30px;
    }
    .presentation-area{
        flex-direction: column-reverse;
        height: 100%;
    }
    .p-r-title-block{
        align-items: baseline;
        margin-top: 0;
        margin-left: 0;
        flex-direction: column;
    }
    .p-r-content-body-text{
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
        margin-bottom: 12px;
    }
    .p-r-title-text{
        font-size: 10px;
        margin-top: 12px;
        margin-left:0 ;
    }
    .p-r-des-text{
        font-size: 22px;
    }
    .mar-b-10{
        margin-bottom: 10px;
    }
    .presentation-text-content{
        padding: 20px 20px;
        width: 100%;

    }
    .parameter-main-block{
        width: 100%;
    }
    .__background_2{
        background: url("/assets/c837a6_98a516fd3a66427ab4cd0cf2b2a13ca2_mv2.webp") center/ cover no-repeat fixed;
        background-size: 100% 100%;
    }
    .p-r-des-text-2{
        width: 100%;
    }
    .presentation-img-content{
        margin-left: 0;
        width: 100%;
        height: 434px;
    }
    .present-img-item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .p-img-item-w{
        width: 350px;
        height: 360px;
    }
    .p-btn{
        width: 150px;
        height: 40px;
    }
    .p-img-content{
        width: 100%;
        height: auto;
    }
    .mar-b-36{
        margin-bottom: 4px;
    }
    .basked-content-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mar-l{
        margin-left: 0;
    }
    .basked-nav-panel{
        flex-direction: column-reverse;
    }
    .product-order{
        width: 100%;
    }
    .fw{
        display: none;
    }
    .delete-product-icon{
        padding-left: 20px;
    }
    .basked-add-item{
        display: flex;
        justify-content: center;
    }
    .s_img_i_product{
        width: 395px;
        height: 395px;
    }
    .select_area{
        flex-direction: column;
    }
    .select_img_section{
        width: 100%;
    }
    .select_content_section{
        width: 100%;
        margin-top: 50px;
    }
    .s-bnt{
        width: 100%;
    }
    .select_img_item{
        display: flex;
        justify-content: center;
    }
    .mini_slider{
        padding-left: 50px;
    }
    /*footer*/
    .f-nav-item-block{
        padding: 40px 0;
    }
    .footer-block{
        padding: 0;
        height: 340px;
    }
    .f-nav-item-block{
        display: flex;
    }
    .f-social-net-block{
        flex-direction: column;
    }
    .f-nav-panel{
        flex-direction: column;
        display: flex;
        text-align: end;
    }
    .f-nav-item-block{
        border: none;
        align-items: baseline;
    }
    .f-social-net-text{
        margin-bottom: 10px;
    }
    .f-social-net-text{
        margin-right: 0;
    }
    .f-nav-item-block-2{
        flex-direction: column-reverse;
        align-items: start;
        margin-top: 0;
    }
    .f-nav-panel-2{
        margin-bottom: 10px;
    }
    .mar-r-15{
        margin-right: 15px;
    }
    .f-s{
        font-size: 10px;
    }
}
@media (max-width: 425px) {
    .nav_0icon0{
        display: none;
    }
    .container{
        padding: 0 15px;
    }
    .basked_title_block,
    .basked_body_block{
        width: 210px;
    }
    .icon{
        margin-right: 25px;
    }
    .basked-title-text{
        font-size: 18px;
    }
    .basked-body-text{
        font-size: 14px;
    }
    .product-area{
        flex-direction: column;
        justify-content: center;
        height: 800px;
    }
    .p-text-content{
        padding: 0 0;
        width: 100%;
        text-align: center;
        margin:  32px 0;
    }
    .p-text{
        font-size: 19px;
    }
    .p-des-text{
        font-size: 30px;
    }
    .presentation-area{
        flex-direction: column-reverse;
        height: 100%;
    }
    .p-r-title-block{
        align-items: baseline;
        margin-top: 0;
        margin-left: 0;
        flex-direction: column;
    }
    .p-r-content-body-text{
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
        margin-bottom: 12px;
    }
    .p-r-title-text{
        font-size: 10px;
        margin-top: 12px;
        margin-left:0 ;
    }
    .p-r-des-text{
        font-size: 22px;
    }
    .mar-b-10{
        margin-bottom: 10px;
    }
    .presentation-text-content{
        padding: 20px 20px;
        width: 100%;
    }
    .__background_2{
        background: url("/assets/c837a6_98a516fd3a66427ab4cd0cf2b2a13ca2_mv2.webp") center/ cover no-repeat fixed;
        background-size: 100% 100%;
    }
    .p-r-des-text-2{
        width: 100%;
    }
    .presentation-img-content{
        margin-left: 0;
        width: 100%;
        height: 434px;
    }
    .present-img-item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .p-img-item-w{
        width: 230px;
        height: 325px;
    }
    .p-btn{
        width: 150px;
        height: 40px;
    }
    .p-img-content{
        width: 100%;
        height: auto;
    }
    .mar-b-36{
        margin-bottom: 4px;
    }
    .counter-input{
        width: 60%;
    }
    .counter__val{
        width: 45%;
    }
    .delete-product-icon{
        padding: 0;
    }
    .s_img_i_product{
        width:  100%;
        height: 100%;
    }
    .select_area{
        flex-direction: column;
    }
    .select_img_section{
        width: 100%;
    }
    .select_content_section{
        width: 100%;
        margin-top: 50px;
    }
    .s-bnt{
        width: 100%;
    }
    .image-mini-slider{
        width: 50%;
    }
    .mini_slider{
        padding-left: 0;
    }
    .modal-box{
        width: 300px;
        height: 300px;
        padding: 30px 20px 10px;
    }
    .modal_text_title{
        font-size: 16px;
    }
    .modal_input{
        padding: 10px 20px;
        font-size: 14px;
    }
    .form_order{
        margin-bottom: 20px;
    }
    .modal_btn{
        margin-top: 0;
        height: 40px;
    }
    /*footer*/
    .f-nav-item-block{
        padding: 40px 0;
    }
    .footer-block{
        padding: 0;
        height: 340px;
    }
    .f-nav-item-block{
        display: flex;
    }
    .f-social-net-block{
        flex-direction: column;
    }
    .f-nav-panel{
        flex-direction: column;
        display: flex;
        text-align: end;
    }
    .f-nav-item-block{
        border: none;
        align-items: baseline;
    }
    .f-social-net-text{
        margin-bottom: 10px;
    }
    .f-social-net-text{
        margin-right: 0;
    }
    .f-nav-item-block-2{
        flex-direction: column-reverse;
        align-items: start;
        margin-top: 0;
    }
    .f-nav-panel-2{
        margin-bottom: 10px;
    }
    .mar-r-15{
        margin-right: 15px;
    }
    .f-s{
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    .modal-box{
        width: 270px;
        height: 300px;
        padding: 30px 20px 10px;
    }
    .modal_text_title{
        font-size: 16px;
    }
    .modal_input{
        padding: 10px 20px;
        font-size: 14px;
    }
    .form_order{
        margin-bottom: 20px;
    }
    .modal_btn{
        margin-top: 0;
        height: 40px;
    }
}
/*mobile-optimize*/