{{>header}}

<div class="container">
  <div class="select_area">
    <div class="select_img_section">
      <div class="single-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="select_img_item">
              <img src="/assets/iPhone.png" alt="" class="s_img_i_product">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="select_img_item">
              <img src="/assets/3c1ccde6-0193-4c3e-a46a-8981055d8708.png" alt="" class="s_img_i_product">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="select_img_item">
              <img src="/assets/3c806da8-7a93-419e-b1ad-ed10552547ab.png" alt="" class="s_img_i_product">
            </div>
          </div>
        </div>
      </div>
      <div class="mini_slider">
        <div class="image-mini-slider swiper-container">
          <div class="image-mini-slider_wrapper swiper-wrapper">
            <div class="image-mini-slider__slide swiper-slide">
              <div class="img-mini-slider__image">
                <img src="/assets/iPhone.png" alt="" class="img_slider_item">
              </div>
            </div>
            <div class="image-mini-slider__slide swiper-slide">
              <div class="img-mini-slider__image">
                <img src="/assets/3c1ccde6-0193-4c3e-a46a-8981055d8708.png" alt="" class="img_slider_item">
              </div>
            </div>
            <div class="image-mini-slider__slide swiper-slide">
              <div class="img-mini-slider__image">
                <img src="/assets/3c806da8-7a93-419e-b1ad-ed10552547ab.png" alt="" class="img_slider_item">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="select_product_description">
        <p class="p-r-des-text-2 w-100">
          Это описание товара. Что-бы привлечь внимание покупателей. Опишите ваш товар коротко и ясно, используйте уникальные ключевые слова.
        </p>
      </div>
    </div>
    <div class="select_content_section">
      <p class="p-r-des-text">iPhone 14 pro max</p>
      <p class="p-r-des-text-2 price-num-text mar-t-15">1200 $</p>
      <div class="color_p">
        <p class="p-r-des-text-2">Цвет: Чёрный</p>
        <div class="color-b">
          <div class="color"></div>
          <div class="color"></div>
          <div class="color"></div>
        </div>
        <div class="select_product_counter">
          <p class="p-r-des-text-2">Количество</p>
          <div class="select_num product-number " data-counter>
            <div class="btn_set">
              <button class=" counter__btn select_counter plus_select ">
                <img src="/assets/angle-up-solid.svg" alt="" class="angle-arrow plus">
              </button>
              <button class="counter__btn select_counter minus_select minus">
                <img src="/assets/angle-down-solid.svg" alt="" class="angle-arrow">
              </button>
            </div>
            <div class="select_input_block"><input class="product-num-text mar_def back_wh_select" value="1"  disabled></div>
          </div>
        </div>
        <div class="basked-nav-panel">
          <button class="p-btn s-bnt product-order">Добавить в корзину</button>
        </div>
        <ul class="select_product_des">
          <li class="select_product_li select_product_li_border">
            <button class="select_des_btn">
              <p class="select_product_title">Характеристика товара</p>
              <p class="select_product_title_plus">+</p>
            </button>
            <div class="select_product_text_des">
              <ul class="parameter-main-block">
                <li class="parameter-item">
                  <p class="p-r-des-text-2">Процессор</p>
                  <p class="p-r-des-text-2">Intel Xeon W-3245 (16 ядер, 32 потока, 3,2 ГГц, Turbo Boost до 4,4 ГГц)</p>
                </li>
                <li class="parameter-item">
                  <p class="p-r-des-text-2">Оперативная память</p>
                  <p class="p-r-des-text-2">192 ГБ LPDDR4 2666 МГц или 2933 МГц</p>
                </li>
                <li class="parameter-item">
                  <p class="p-r-des-text-2">Дискретная графика</p>
                  <p class="p-r-des-text-2">2 AMD Radeon Pro Vega II c 32 ГБ памяти HBM2 с пропускной способностью 1 ТБ/с</p>
                </li>
                <li class="parameter-item mar-b-36">
                  <p class="p-r-des-text-2">Накопитель SSD</p>
                  <p class="p-r-des-text-2">4 ТБ</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="select_product_li ">
            <button class="select_des_btn">
              <p class="select_product_title">Цена в рассрочку</p>
              <p class="select_product_title_plus">+</p>
            </button>
            <div class="select_product_text_des">
              <ul class="parameter-main-block">
                <p class="select_product_text">
                  Примерные цены на рассрочку :
                </p>
                <li class="parameter-item">
                  <p class="p-r-des-text-2">На 3 месяца</p>
                  <p class="p-r-des-text-2">4 560 000</p>
                </li>
                <li class="parameter-item">
                  <p class="p-r-des-text-2">На 6 месяцев</p>
                  <p class="p-r-des-text-2">2 280 000</p>
                </li>
                <li class="parameter-item">
                  <p class="p-r-des-text-2">На 12 месяцев</p>
                  <p class="p-r-des-text-2">1 140 000</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{>footer}}